<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="about-body">

    <nav>
  	<ul>
	 <li><a href="{{ url_for('index') }}">Home</a></li>
  	 <li><a href="{{ url_for('about') }}">About</a></li>
   	 <li><a href="{{ url_for('contact') }}">Contact</a></li>
  	</ul>
    </nav>

    <div class="about-container">
      <h1 class="about-h1">About Neural Style Transfer</h1>
      <p class="about-p">Neural Style Transfer (NST) is a technique that uses deep neural networks to apply the style of one image to the content of another image. The idea is to create a new image that combines the content of one image with the style of another image. This technique is based on the observation that the content of an image can be separated from its style, and that both can be represented as feature maps in a neural network.
	To achieve this, a pre-trained convolutional neural network is used to extract both the style and content features from the input images. Then, an optimization algorithm is applied to find a new image that matches the content of one image and the style of another. The optimization is done by minimizing a loss function that includes a content loss, which measures the similarity between the content features of the input image and the new image, and a style loss, which measures the difference between the style features of the input image and the new image.</p>
      <img class="about-img" src="https://i.ibb.co/B4FbFzS/me.jpg" alt="Md Zahidul Islam">

      <p class="about-p">I am the developer of this project, and I have a strong background in Information Technology and a keen interest in Machine Learning, Deep Learning, and Federated Learning. I believe that technology has the power to transform lives and make a positive impact on society. I am passionate about using my skills to contribute to projects that make a difference.</p>
      <p class="about-p">You can find me on <a href="https://github.com/Snigdho8869">GitHub</a>, where I shares my projects and contributions to the open-source community.</p>
    </div>

  <div class="footer">
        <p>All rights reserved &copy; 2023 Neural Style Transfer</p>
        <p>Follow me on <a href="https://github.com/Snigdho8869" target="_blank">Github</a> and <a href="https://www.facebook.com/zahidul.snigdho/" target="_blank">Facebook</a></p>
    </div>
  </body>

</html>
